#message{
	font-size: 40px;
	width: 440px;
	text-align: left;
}

button{
	font-size: 24px;
	margin: 5px;
	width: 100px;
	height: 100px;
}


.btn{
	border: solid 2px black;
	background-color: rgb(224, 224, 229);
}
#btn_equal{
	border: solid 2px black;
	background-color: red;
	width: 200px;
	height: 100px;
}
#btn_allclear{
	border: solid 2px black;
	background-color: rgb(255, 153, 51);
}

.btn-operator{
	border: solid 2px black;
	background-color: rgb(224, 255, 209);
}



.active{
	border: solid 5px black;
}

button:focus{
	outline: none;
}